<div class="card">
  <p-table [columns]="cols" [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{ col.header }}
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
          <tr>
              <td>{{order.id}}</td>
              <td>{{order.customer.name}}</td>
              <td>${{order.total}}</td>
              <td>{{order.placed | date}}</td>
              <td>{{order.fulfilled | date}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
