// .p-datatable-table {
//   border-radius: 0.5rem !important;
//   overflow: hidden !important;
// }

tr {
  cursor: pointer;

  &:hover {
    background-color: #242424;
  }

  &:last-child {
    td {
      border: none;
    }
  }
}
