.wrapper {
  display: flex;
  min-height: 90vh;

  .sidebar-spacer {
    display: flex;
    width: 15rem;

    &.open {
      transition: all 0.3s ease-in-out;
      width: 15rem;
    }

    &.closed {
      transform: translateX(-20rem);
      width: 0;
      transition: all 0.3s ease-in-out;
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 15rem;
      margin: 1rem 0;

      .menu-item {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;
      }
    }
  }

  .content {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
