.wrapper{
  display: flex;

  .sidebar-spacer {
    background: rgb(33, 33, 33);
    display: flex;
    width: 15rem;

    &.open {
      transition: all 0.3s ease-in-out;
      width: 15rem;
    }

    &.closed {
      transform: translateX(-20rem);
      width: 0;
      transition: all 0.3s ease-in-out;
    }

    .menu {
      display: flex;
      flex-direction: column;
      width: 15rem;
      margin: 1rem 0;

      .menu-item {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;

        &:hover {
          background-color: rgb(36, 36, 36);
        }

        &.active {
          background-color: rgb(38, 38, 38);
        }
      }
    }
  }

  .content {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
