.sidebar {
  position: absolute;
  background: rgb(33, 33, 33);
  display: flex;
  width: 15vw;
  min-height: 90vh;
  margin-left: -10rem;

  &.open {
    transform: translateX(10rem);
    transition: all 0.3s ease-in-out;
  }

  &.closed {
    transform: translateX(-10rem);
    transition: all 0.3s ease-in-out;
  }

  .menu {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;

    .menu-item {
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem;

      &:hover {
        background-color: rgb(36, 36, 36);
      }

      &.active {
        background-color: rgb(38, 38, 38);
      }
    }
  }
}
